<h1>Users#index</h1>

<p>Tenant: <%= current_tenant.name %></p>
<p>Storage Usage: <%= current_tenant.storage_size %></p>

<ol>
<% @users.each do |user| %>
  <li>
    <%= user.name %>
    <% user.articles.each do |article| %>
    <ul>
      <li><%= article.title %></li>
    </ul>
    <% end %>
  </li>
<% end %>
</ol>

<ol>
<% Article.all.each do |article| %>
  <li><%= article.title %></li>
<% end %>
</ol>

<p>User Count: <%= User.count %></p>
<p>Article Count: <%= current_tenant.articles.count %></p>
<p>All Article Count: <%= Article.count %></p>
<p>Article Page Count: <%= current_tenant.articles.sum(:pages) %></p>
<p>All Article Page Count: <%= Article.sum(:pages) %></p>

<p>
  <%=
    ActiveRecord::Base.connection
      .execute("SELECT current_setting('session.access_level'::text)")[0]
  %>
</p>

<p>
  <%=
    ActiveRecord::Base.connection
      .execute("SELECT current_setting('session.tenant_id'::text)")[0]
  %>
</p>
