<h1>Admin:: Users#index</h1>

<ol>
<% @users.each do |user| %>
  <li>
    <%= user.name %>
    <% user.articles.each do |article| %>
    <ul>
      <li><%= article.title %></li>
    </ul>
    <% end %>
  </li>
<% end %>
</ol>

<ol>
<% Article.all.each do |article| %>
  <li><%= article.title %></li>
<% end %>
</ol>

<p>User Count: <%= User.count %></p>
<p>All Article Count: <%= Article.count %></p>
<p>All Article Page Count: <%= Article.sum(:pages) %></p>
